/*so the first one called is ul is the one that we style in order to move around the entire navigation inside the website
the 2nd list item is when we want to move around the individual links, inside the ul.
This may help to create a horizontal nav ?
And the last one is when we want to style the  actual text of the link.

theres going to be dafault stylings for the browser
ur working with so u want to get rid of that so do at top.

the star symbol and curly brckets mean we will style everything
inside the website, with this styling. didn't write 0 px cuz 0 is the same as it would be in percentage. Now lets create an
actual menu with the items next to each other instead of underneath each other and we dont wnat the underline under the links

now lets put the menu items next to each other. to do this go inside the list item and say display: inline-block

now lets make it look decent inside the top box. center the nav vertically inside our nav tags and do that by
going in the ul li item\

 */

/* bg image */

/* body, html {
 }
 
 body {
	background-image: url("images/morningsky.jpeg");
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  } */

html,
body {
  height: 100%;
  background-size: cover;
  background: url("images/3876877.jpg") no-repeat center center fixed;
}

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
/* .bg {
   background-image: url("");
   height: 100%; 	
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 } */

 .center-text
 {
  text-align: center;
  }
.ph {
  clear: both;
}

.col {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.container-styling {
  width: 100%;
  height: auto;
}
.img-responsive {
  width: 100%;
  height: auto;
}
p {
  margin-bottom: 15px;
}
li {
  color: black;
}

.row-styling {
  text-align: center;
}

.img-w {
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
}
.hi-message {
  text-align: center;
  padding-top: 60px;
}
.title-message {
  text-align: center;
}
/* website main header
*/
.main-header {
  padding-top: 60px;
  font-size: 75px;
  font-weight: 400;
  color: black;
  text-align: center;
}

.moreinfo-message {
  text-align: center;
}

.col-style {
  padding: 0px;
}

.home-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 350px;
}

.cent-text {
  text-align: center;
}
/* trying stuff */

/* .word {
  margin: auto;
  color: white;
  font: 700 normal 2.5em "tahoma";
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
} */

.wp-heading {
  font-size: 30px;
  /* background: linear-gradient(70deg, rgb(83 94 109 / 43%), pink); */
}

.sp-heading {
  font-size: 30px;
  /* background: linear-gradient(70deg, rgb(83 94 109 / 43%), pink); */
}
.we-heading {
  font-size: 24px;
  /* background: linear-gradient(70deg, rgb(83 94 109 / 43%), pink); */
}

/* change background color of entire websie */

/* .colm-style {
  list-style: none;
  height: 50px;
  background-color: transparent;
  margin: auto auto;
} */

.links-p {
  text-decoration: none;
  font-size: 36px;
  font-weight: 600;
  color: blue;
}

.links-p:hover {
  color: #ff00bd;
}
/*if uwanted to move the nav to the right side and make space say for a logo can go into the ul tag to move the whole
	unorered list. this helped move the entire nav. if u did this for nav it will mess up cuz
	navs background color will start 60px to the left
		*/
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, sans-serif;
  color: white;
}

.img-h {
  width: 500px;
  height: 700px;
}

.nav-item-p {
  align-content: center;
}

#spotfolio {
  display: inline-block;
  width: 5px;
}

.links-wp2 {
  /* text-decoration: none;
  font-size: 26px;
  font-weight: 600;
  color: blue; */
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: blue;
}

.links-wp2:hover {
  color: #ff00bd;
}

.sp-heading {
  font-size: 30px;
}

.main-heads {
  margin-top: 30px;
  text-align: center;
}

.purpcol{
color: #F0CDF8;
}

.navbar {
  background-color: green !important;
}

.sidenav-styling {
  background-color: transparent;
}

/* 
h1 {
  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: calc(20px + 5vw);
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #1da9cc;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear forwards;
}

h1 span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
          clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

h1::before,
h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

h1::before {
  animation: crack1 2.5s linear forwards;
  -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

h1::after {
  animation: crack2 2.5s linear forwards;
  -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
          clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
  5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
      filter: blur(0.018em);
      transform: translateY(0.018em) rotate(0deg);
  }

  10%, 30%, 40%, 50%, 70%, 80%, 90% {
      filter: blur(0.01em);
      transform: translateY(-0.018em) rotate(0deg);
  }

  20%, 60% {
      filter: blur(0.03em);
      transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%, 85% {
      filter: blur(0.03em);
      transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
      filter: blur(0.007em);
      transform: translate(0) rotate(-0.5deg);
  }
}

@keyframes crack1 {
  0%, 95% {
      transform: translate(-50%, -50%);
  }

  100% {
      transform: translate(-51%, -48%);
  }
}

@keyframes crack2 {
  0%, 95% {
      transform: translate(-50%, -50%);
  }

  100% {
      transform: translate(-49%, -53%);
  }
} */

/* .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cc33ff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; */
  /* filter: invert(100%); */

 /* } */

 /* .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cc33ff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; */
  /* filter: invert(100%); */
/* } */

span.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")!important;
}

span.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")!important;
}

.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
  filter: invert(1) grayscale(0)!important;
}

/* fixed but whole image does not show fix this later 
 */


/* .carousel {
  max-height: 700px;
  overflow: hidden;

  .item img {
    width: 100%;
    height: auto;
  }
} */
/* .carousel-caption .carousel-item img {  
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  height:50vh;
} */
 
/* .carousel-control-prev-icon { background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300ff00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
} */


/* background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300FF00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E) !important; */


.waviy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.waviy span {
  margin-top: 75px;
  position: relative;
  display: inline-block;
  font-size: 110px;
  color: #382221;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}


.social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
  /* cathces some of the background */
  background: linear-gradient(45deg,red,orange);
  border-radius: 50%;
}

.social-buttons a::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg,#22a6b3,#30336b);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before{
  transform: scale(0);
}

.social-buttons a i{
  transition: 0.3s ease-in;
}

.social-buttons a:hover i{
  background: linear-gradient(45deg,#22a6b3,#30336b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}

.social-buttons{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
a, a:focus { color: blue }
a:hover, a:focus:hover { color: white } */
